@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mode{
  font-size: 50px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 200px;
}
.mode:hover{
  font-size: 75px;
}
button{
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.login, .register{
  width: 200px;
  height: 50px;
}

.login{
  background-color: #c90076;
  font-size: 18px;
  color: white;
  font-weight: 600;

}
.login:hover{
  color: #c90076;
  background-color: aliceblue;
  
}

.register{
  background-color: #f44336;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-bottom-left-radius: 0px;
  
}
.register:hover{
  color: #f44336;
  background-color: aliceblue;
  border-color: #f44336;
}

.logout{
  background-color: rgb(147, 245, 0);
  font-size: 24px;
  font-weight: 600;
  width: 200px;
  height: 80px;
  
}
.logout:hover{
  color: rgb(147, 245, 0);
  background-color: white;
  border-color: rgb(147, 245, 0);
}


.card{
  padding: 0, 20px;
  border-radius: 15px;
  height: 250px;
  width: 250px;
}
.card-header{
  align-items: center;
  padding: 0px 0px;
  text-align: center;
  color: #f44336;
}
.card-header > h1{
  text-align: center;
  border-bottom: #f4433650 .2px solid;
  padding: 10px;

}
.card-header > h1 {
  font-weight: 100;
  margin-bottom: 5px;
}
.user{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  padding: 10px;
}
.card-body{
  margin: 10px
}

.username{
  /* padding: 10px; */
  font-size: 18px;
  color: black;
  
}

.bar{
  height: 15px;
  width: .5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #16537e;
}
.date{
  color: rgb(46, 45, 45);
  
}

.stars{
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 10px;
}

.star{
  color: goldenrod;
}
.desc{
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 22px;
  color: #16537ea2;
  padding: 10px;
  /* overflow: scroll; */
}



form{
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label{
  font-size: 22px;
  font-weight: lighter;
  color: #c90076;
}
input{
  border: none;
  /* border-bottom: 1px solid #c90076; */
  color: #0b2c44;
}
textarea{
  border: none;
}
select{
  border: none;
}

input::placeholder, textarea::placeholder{
  font-size: 12px;
  color: rgb(172, 169, 169)
}

textarea:focus, input:focus{
  outline: none;
  color: #0b2c44;
  font-size: 15px
  /* border: 1px solid #c90076; */
}

.login-form, input::placeholder{
  font-size: 18px;
  color: rgb(172, 169, 169)
}

.login-form, input{
  font-size: 18px;
  border-bottom: 1px solid #c90076;
}

.register-form, input::placeholder{
  font-size: 18px;
  color: rgb(172, 169, 169)
}
.register-form, input{
  font-size: 18px;
  border-bottom: 1px solid #f44336;
}


.form-submit{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: aliceblue;
  background-color: #f44336;
  cursor: pointer;
  margin-top: 10px;
  font-size: medium;
}
.form-submit:hover{
  color: #f44336;
  background-color: white;
  outline: #f44336 .5px solid;
  font-weight: bold;
  border-color: #f44336;
}

.submitButton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: aliceblue;
  background-color: #f44336;
  cursor: pointer;
  margin-top: 10px;
  font-size: medium;
}

.success{
  color: green;
  font-size: 15px;
  text-align: center;
}
.failed{
  color: crimson;
  font-size: 15px;
  text-align: center;
  margin: 5px;
}

.registerCancel{
  position: absolute;
  top: 5px;
  right: 5px;
  color: rgb(147, 245, 0);
  cursor: pointer;
}
.registerbtn{
  background-color: #f44336;
  font-size: 17px;
  border-radius: 5px;
}
.registerbtn:hover{
  color: #f44336;
  background-color: white;
  outline: #f44336 .5px solid;
  font-weight: bold;
  border-color: #f44336;
}

.logo{
  color: #f44336;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 900;
}
textarea:focus, input:focus{
  outline: none;
}

.buttonLogin{
  background-color: #c90076;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
}
.buttonLogin:hover{
  color: #c90076;
  background-color: aliceblue;
  border: #c90076 .5px solid;
}

.room{
  z-index: -1
}

.popup{
  z-index: 1000,
}

